language: python
dist: xenial
sudo: false
cache:
  pip: true

python:
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - cp tests/data/.locopyrc ~/.locopyrc
  - cp tests/data/.locopy-sfrc ~/.locopy-sfrc
  - pip install -r requirements-dev.txt
  - python setup.py install
script:
  - make not_integration
