boto3>=1.9.92
hypothesis>=4.32.2
psycopg2>=2.7.7
pg8000>=1.15.3
snowflake-connector-python[pandas]>=2.1.2
PyYAML>=5.1
Sphinx>=1.8.4
sphinx-rtd-theme>=0.4.2
pytest>=5.2.2
pytest-cov>=2.8.1
pandas>=0.25.2
